# Node modules
node_modules/

# Build result
dist/

# Any plugins except defaults
src/plugins/*
!src/plugins/hello-plugin.ts
!src/plugins/player-tracker.ts

# Config
acc-config.json
last-known-servers.json

# Updater assets
src/services/updater-assets/*
resources/*

# User prefs
.vscode/

# Log files
nrelay-log.log

# Mac files
.DS_Store
